#explicit binary content (reduced diff).

*.exe binary

*.dll binary

*.sfx binary

*.chm binary

*.lnk binary

*.bin binary


*.pdn binary

*.gif binary

*.png binary


*.ini text eol=crlf

*.cmd text eol=crlf

*.reg text eol=crlf

*.txt text eol=lf

*.ahk text eol=lf